<h1>Group transactions</h1>
<% group_transaction(@group).each do |gt| %>
	<div>
		<div>
			<%= image_tag find_group(gt.group_id).icon.url if gt.group.icon? %>
		</div>
		<div>
			Author: <%= author_name(gt) %>
		</div>
		<div>
			$<%= gt.amount %>	
		</div>
		<div>
			<%= gt.created_at %>	
		</div>
	</div><hr>
<% end %>