<% if @group.transactions.any? %>
	<div class="row d-flex justify-content-center">
		<h1>Group transactions</h1>
	</div>
	<div class="row transaction-container">	
		<% @group.transactions.each do |gt| %>
			<div class="col-md-12 transaction d-flex justify-content-center"v>
				<div class="col-md-4 text-left">
					<%= image_tag find_group(gt.group_id).icon.url if gt.group.icon? %>
				</div>
				<div class="col-md-4 transaction-description text-center">
					Author: <%= author_name(gt) %><br>
					Date: <%= gt.created_at %>
				</div>
				<div class="col-md-4 transaction-description text-right">
					$<%= gt.amount %>	
				</div>
			</div><hr>
		<% end %>
	</div>
<% else %>
	<div class="row d-flex justify-content-center">
		<h1>This group does not have transactions yet!</h1>
	</div>
<% end %>	
