<p><%= @user.name %></p>
<%= link_to "All my transactions", transactions_path, class: 'option_link'  %><hr>
<%= link_to "All my external transactions", external_transactions_path, class: 'option_link'  %><hr>
<%= link_to "All groups", groups_path,class: 'option_link'  %>