<h1>My external transactions</h1>
<% @external_transactions.each do |t| %>
	<div>
		<div>
			<%= t.name %>
		</div>
		<div>
			$<%= t.amount %>	
		</div>
		<div>
			<%= t.created_at %>	
		</div>
	</div><hr>
<% end %>